body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* page header start */
.header-conteiner {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-address {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-address:hover,
.contacts-address:focus {
    color: #404BBF;
}
/* page header stop*/

/* banner start */
.hero-banner {
    background-color: #2e2f42;
    padding: 188px 472px 292px;
    text-align: center;
    height: 600px;
}

.hero-banner-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-banner-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    width: 169px;
    height: 56px;
    margin-top: 48px;
    margin: 48px 0 auto;
    border: none;
    border-radius: 4px;
}

.hero-banner-button:hover,
.hero-banner-button:focus {
    background-color: #404BBF
}
/* baner stop */

/* description start */
.visibility-hidden {
    visibility: hidden;
}

.description-list {
    display: flex;
    gap: 24px;
}

.description-item {
    width: calc((100% - 72px) / 4);
}


.description-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    padding-top: 120px;
}

.description-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-bottom: 120px;
}
/* description stop */

/* team start */
.team {
    padding-bottom: 120px;
    background-color: #F4F4FD
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 72px;
}

.team-item-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
    overflow: hidden;
    text-align: center;
}

.team-item-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    text-align: center;
}

.team-item-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-bottom: 32px;
    text-align: center;
}
/* team stop */

/* portfolio start*/
.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    padding-top: 120px;
}

.portfolio-item {
    padding-top: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px 24px;
    flex-wrap:wrap;
    margin-bottom: 120px;

}

.portfolio-item-list {
    border: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);

}

.portfolio-item-text-block {
    padding: 32px 16px; 
}

.portfolio-item-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 8px;
}

.portfolio-item-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}
/* portfolio stop */

/* footer start */
.page-footer {
    background-color: #2e2f42;
    padding: 100px;
}

.footer-logo {
    color: #4d5ae5;
    line-height: 1.17;

   
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
    max-width: 264px;
}
/* footer stop */
